
.container
{
    position: absolute;
    top: 80px;
    left: 100px;
    right: 100px;
    bottom: 80px;
    background:url(bg.jpeg);
    background:rgb(255, 255, 255) url(bg.jpeg) center center no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:red;

}
.container h2
{
    text-align: center;
    font-size: 3em;
    line-height: 0.7em;
    margin-top: 80px;
}
.container h2 span
{
    display: block;
    font-weight: 300;
    letter-spacing: 6px;
    font-size: 0.5em;
}
.countdown
{
    display: flex;
    margin-top: 50px;
}
.countdown div
{
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: transparent;
    color: rgb(255, 0, 0);
    margin: 0 15px;
    font-size: 3em;
    font-weight: 500;
}
.countdown div::before
{
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 35px;
    background-color: transparent;
    color: red; 
    font-size: 0.35em;
    line-height: 35px;
    font-weight: 300;
}
.countdown div#day::before
{
    content:'days';
}
.countdown div#hour::before
{
    content:'hours';
}
.countdown div#minute::before
{
    content:'minutes';
}
.countdown div#second::before
{
    content:'seconds';
}